body {
  font-family: Canva Sans Display, Noto Sans Variable, Noto Sans, -apple-system,
    BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}

a {
  margin: 15px;
  text-decoration: none;
}

.navbar-brand {
  color: #4b9b7a;
  font-size: 30px;
}
.navbar-brand:hover {
  color: #4b9b7a;
}

.nav-link {
  color: #6a5c55;
}

.nav-link:hover {
  color: #e3dfc8;
}
.secondary-header {
  background: #4b9b7a;
  border-radius: 10px;
  color: white;
  padding: 80px;
  text-align: center;
}

.logo {
  display: block;
  margin: 0 auto;
}
.about-section {
  padding: 50px;
}
