body {
  font-family: "Raleway", sans-serif;
  background-color: white;
  overflow-x: hidden;
  margin-bottom: 80px;
}

a {
  margin: 15px;
  text-decoration: none;
}

.navbar-brand {
  color: #4b9b7a;
  font-size: 40px;
}
.navbar-brand:hover {
  color: #4b9b7a;
}

.nav-link {
  color: #6a5c55;
  font-size: 20px;
}

.nav-link:hover {
  color: #e3dfc8;
}
.secondary-header {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #c2e8ce 1px, transparent 1px),
    linear-gradient(to bottom, #c2e8ce 1px, transparent 1px);
  padding: 80px;
  padding-top: 80px;
  text-align: center;
  color: #6a5c55;
  font-size: 30px;
}

.mutual-aid-title {
  padding-top: 10px;
  padding-bottom: 12px;
}

.logo {
  display: block;
  margin: 0 auto;
}

.mission-section {
  padding: 30px;
}

.mission-team-photo {
  border-radius: 5px;
}

.sub-header {
  text-align: center;
  font-size: 35px;
}

.projects-section {
  background: #d9e9d8;
  border-radius: 8px;
  padding-top: 30px;
  padding-right: 150px;
  padding-left: 150px;
}

.project-title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

.project-text {
  font-size: 23px;
  justify-items: auto;
}

.RC-fridge-pantry-photo {
  display: block;
  margin: 0 auto;
}
