body {
  font-family: "Raleway", sans-serif;
  background-color: white;
  overflow-x: hidden;
}

main {
  width: 1500px;
  margin: auto;
}

a {
  margin: 15px;
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  top: -1px;
  background-color: rgba(0, 0, 0, 0.02);
}

.navbar-brand {
  color: #4b9b7a;
  font-size: 35px;
}
.navbar-brand:hover {
  color: #4b9b7a;
}

.nav-link {
  color: #6a5c55;
  font-size: 20px;
}

.nav-link:hover {
  color: #e3dfc8;
}

.dropdown-item {
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
  padding-right: 50px;
  margin: 0px;
}

.dropdown-item:hover {
  color: white;
  background: #668ba4;
}

.secondary-header {
  background-size: 50px 50px;
  background-image: linear-gradient(to right, #c2e8ce 1px, transparent 1px),
    linear-gradient(to bottom, #c2e8ce 1.5px, transparent 1px);
  margin-top: 120px;
  padding-top: 105px;
  padding-bottom: 120px;
  text-align: center;
  color: #6a5c55;
  font-size: 30px;
}

.container-fluid {
  --bs-gutter-x: 0rem;
}

.mutual-aid-title,
.the-hatch-header {
  padding-top: 10px;
  padding-bottom: 12px;
}

.logo {
  display: block;
  margin: 0 auto;
}

#mission-section,
#projects-section,
#team-section {
  margin-bottom: 20px;
  padding: 30px;
}

.sub-header-title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
}

.sub-section-title {
  font-size: 25px;
}

.mission-text-title {
  padding-left: 50px;
  text-align: left;
  text-align: justify;
}

.team-text,
.team-title {
  text-align: center;
  text-align: justify;
  padding-bottom: 30px;
}

#projects-section {
  background: #d9e9d8;
  border-radius: 8px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 150px;
  padding-left: 150px;
  margin-bottom: 50px;
}
.mission-header:before,
.mission-header:after,
.project-header:before,
.project-header:after,
.team-header:before,
.team-header:after {
  content: "";
  width: 200px;
  height: 1px;
  margin: 0 10px;
  background: #ccc;
  display: inline-block;
  vertical-align: middle;
}
.project-title {
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.project-text,
.mission-text {
  font-size: 23px;
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
}

.team-text {
  font-size: 23px;
  text-align: center;
}
.location {
  text-align: center;
}

.RC-fridge-pantry-photo,
.KK-pantry-photo {
  display: block;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 10px;
}

.team-border {
  background: linear-gradient(
    109.6deg,
    rgb(223, 234, 247) 11.2%,
    rgb(244, 248, 252) 91.1%
  );

  border: 1px solid transparent;
  border-radius: 10px;
  padding: 50px;
}
.team-photo {
  width: 50%;
  display: block;
  margin: 0 auto;
}

img.circle {
  border-radius: 50%;
  height: 200px;
  width: 190px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

ul {
  padding: 15px;
  text-align: center;
  list-style: none;
}

.team-member-name,
.pronouns {
  font-size: 20px;
  font-weight: bolder;
}

.footer-section {
  margin-top: 40px;
  padding: 200px;
  background-image: url("images/blob-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #ffffff;
}
