body {
  font-family: "Raleway", sans-serif;
  background-color: white;
  overflow-x: hidden;
  margin-bottom: 80px;
}

a {
  margin: 15px;
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  top: -5px;
  background-color: rgba(0, 0, 0, 0.02);
}

.navbar-brand {
  color: #4b9b7a;
  font-size: 40px;
}
.navbar-brand:hover {
  color: #4b9b7a;
}

.nav-link {
  color: #6a5c55;
  font-size: 20px;
}

.nav-link:hover {
  color: #e3dfc8;
}
.secondary-header {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #c2e8ce 1px, transparent 1px),
    linear-gradient(to bottom, #c2e8ce 1px, transparent 1px);
  margin-top: 120px;
  padding: 80px;
  padding-top: 100px;
  text-align: center;
  color: #6a5c55;
  font-size: 30px;
}

.mutual-aid-title {
  padding-top: 10px;
  padding-bottom: 12px;
}

.logo {
  display: block;
  margin: 0 auto;
}

#mission-section,
#projects-section,
#team-section {
  margin-top: 90px;
  padding: 30px;
}

.sub-header-title {
  font-size: 35px;
  text-align: center;
}

.sub-section-title {
  font-size: 20px;
}

.mission-title {
  text-align: left;
}

#projects-section {
  background: #d9e9d8;
  border-radius: 8px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 150px;
  padding-left: 150px;
}

.project-title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 25px;
  text-align: center;
}

.project-text,
.mission-text {
  font-size: 23px;
}
.location {
  text-align: center;
}

.RC-fridge-pantry-photo,
.KK-pantry-photo {
  display: block;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 10px;
}
