body {
  font-family: Canva Sans Display, Noto Sans Variable, Noto Sans, -apple-system,
    BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}
.navigator-header {
  background: pink;
  margin: 30px;
  padding: 30px;
}

.secondary-header {
  background: #4b9b7a;
  width: 100%;
  border-radius: 10px;
  display: block;
  color: white;
  padding: 10px 5px 30px;
  margin: 0px 50px;
  text-align: center;
}

a {
  margin: 15px;
  text-decoration: none;
}

.logo {
  display: block;
  margin: 0 auto;
}
