body {
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  background-color: white;
  overflow-x: hidden;
}

a {
  margin: 15px;
  text-decoration: none;
}

.navbar-brand {
  color: #4b9b7a;
  font-size: 40px;
}
.navbar-brand:hover {
  color: #4b9b7a;
}

.nav-link {
  color: #6a5c55;
  font-size: 20px;
}

.nav-link:hover {
  color: #e3dfc8;
}
.secondary-header {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #c2e8ce 1px, transparent 1px),
    linear-gradient(to bottom, #c2e8ce 1px, transparent 1px);
  padding: 80px;
  padding-top: 80px;
  text-align: center;
  color: #6a5c55;
  font-size: 30px;
}

.mutual-aid-title {
  padding-top: 10px;
  padding-bottom: 12px;
}

.logo {
  display: block;
  margin: 0 auto;
}

.sub-sections {
  padding: 30px;
}

.mission-team-photo {
  border-radius: 5px;
}

.sub-header {
  text-align: center;
  font-weight: bold;
}
